<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<link rel="stylesheet" href="blog.css">


</head>
<body>
    <main class="form-container">
        <h1>New Blog</h1>

        <form action="" method="POST"> 

            <in class="form-sec">
                <label for="topic">Topic</label>
                <input type="text" name="topic" id="topic" class="form-control">
            </section>
            
            <section class="form-sec">
                <label for="title">description</label>
                <textarea name="description" id="description" class="form-control"></textarea>
            </section>

            <section class="form-sec">
                <label for="title">Posted By</label>
                <input type="text" name="posted_by" id="posted_by" class="form-control">
            </section>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </main>
</body>
</html>